nav {
    /*border-bottom: 2px solid green;*/
    height: 70px;
    display: flex;
    align-items: center;
}
h1 {
    color: green;
}
a {
    color: green;
    text-decoration: none;
}
svg {
    width: 37px;
    height: 37px;
    margin: 0px -12px -7px -7px;
    transform: rotateY(-170deg) rotateZ(-10deg);
}
svg path {
    fill: #e25822;
}
.logo, .nav-list, h1 {
    font-family: Raleway, Helvetica, sans-serif;
}
.logo {
    font-weight: 600;
    font-size: 24px;
}
.nav-list li {
    display: inline;
    font-size: 20px;
}
.main-image {
    margin-bottom: 10px;
}
.projects {
    display: flex;
    align-items: center;
}
#tech {
    color: #000;
}
#starter {
    color: #e25822;
}