<div id="head-section">
    <div class="row">
      <div class="col-md-2">
        <div class="pic">PE</div>
        <!-- make some margin space here -->
        <p>By: Preston Enigma</p>
      </div>
      <div class="col-md-8">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h1>
        <!-- make the text greyed out -->
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h4>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <iframe width="100%" height="415" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-4">
        <!-- <div class="" id="line"><hr></div> -->
        <h2 class="numCurrentlyAt">$978,453</h2>
        <!-- here is the goal number -->
        <h4 class="" id="numToGo">pledged of <span id="goal">$1,000,000</span> to go</h4>
        <h2 id="numOfBackers">44</h2>
        <h4>Backers</h4>
        <h2 id="daysToGo">15</h2>
        <h4>Days to go.</h4>
        <button class="btn btn-danger btn-lg btn-block">Back This Project</button>
        <br>
        <div style="margin: 0; padding: 0" class="row">
          <div class="col-md-5" style="margin-right:20px; padding: 0; border-radius: 0">
            <button class="btn btn-default btn-block">Back This Project</button>
          </div>
          <div class="col-md-offset-1 col-md-5 " style="margin: 0 ; padding: 0; border-radius: 0">
            <button class="btn btn-default btn-block">Back This Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-donation></app-donation>
  <div class='toggle'>
    <div class='tabs'>
      <div class='tab active'>Campaign</div>
      <div class='tab'>FAQ</div>
      <div class='tab'>Updates</div>
      <div class='tab'>Comments</div>
    </div>
    <div class='panels'>
      <div class='panel row'>
          <div class="col-md-7">
              <h1>About this project</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error autem in ipsum possimus. Laboriosam possimus suscipit optio eius excepturi minima qui consequatur quos aspernatur facilis, dolorem quae iusto vero est similique nisi sunt repellat mollitia magni, labore fugiat maxime maiores. Debitis sequi quisquam aliquid quibusdam aut pariatur tempore veniam iure, sed magni reiciendis exercitationem nostrum excepturi neque facere ipsam perferendis, unde quis commodi dolor harum veritatis quae. Quis officiis voluptatibus numquam, atque soluta, fugit, quae unde in tempora temporibus illo rerum incidunt deserunt ipsum reiciendis porro voluptates. Voluptas facere repudiandae impedit, repellat, alias, dolorem consequatur possimus molestias illum atque fugit.</p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam porro doloribus cum fuga repellendus neque voluptas dolore dolores temporibus, nemo magnam nesciunt similique molestiae enim iure libero! Deleniti, facilis iste.  
          </div>
          <div class="col-md-4">
              <h3>Support this project</h3>
              <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eos unde quas voluptates nihil nesciunt tenetur et incidunt quidem eaque, est suscipit cum, facilis, repudiandae fugiat ipsum velit voluptatibus at reiciendis nobis provident deserunt laudantium maxime qui! Vel officiis ea nisi dolor quis expedita eaque deserunt deleniti modi pariatur, velit temporibus quod perferendis consequatur odit incidunt explicabo repudiandae ab, adipisci voluptatum suscipit sapiente, recusandae vero. Et commodi laborum molestiae officiis officia doloribus odit ex natus? Dolorum magni dolore a provident.</h6>
          </div>
      </div>
    </div>
  </div>
  